TalycapGlobalTest/TalycapGlobalTestUnit/Connected Services/TalycapGlobalWCF/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51454/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TalycapGlobalData" />
  <xs:import schemaLocation="http://localhost:51454/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="DeleteDescuento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDescuentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteDescuentoResult" nillable="true" type="q1:Descuento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOperadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOperadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaOperadoresResult" nillable="true" type="q2:ArrayOfOperador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetOperadorResult" nillable="true" type="q3:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOperador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOperadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateOperadorResult" nillable="true" type="q4:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOperador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOperadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditOperadorResult" nillable="true" type="q5:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteOperadorResult" nillable="true" type="q6:Operador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaVehiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaVehiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaVehiculosResult" nillable="true" type="q7:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetVehiculoResult" nillable="true" type="q8:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateVehiculoResult" nillable="true" type="q9:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditVehiculoResult" nillable="true" type="q10:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteVehiculoResult" nillable="true" type="q11:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGuias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGuiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaGuiasResult" nillable="true" type="q12:ArrayOfGuia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetGuiaResult" nillable="true" type="q13:Guia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGuia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGuiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateGuiaResult" nillable="true" type="q14:Guia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaClientesResult" nillable="true" type="q15:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetClienteResult" nillable="true" type="q16:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateClienteResult" nillable="true" type="q17:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditClienteResult" nillable="true" type="q18:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteClienteResult" nillable="true" type="q19:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q20:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q21:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaPaisesResult" nillable="true" type="q22:ArrayOfPai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetPaisResult" nillable="true" type="q23:Pai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreatePaisResult" nillable="true" type="q24:Pai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditPaisResult" nillable="true" type="q25:Pai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeletePaisResult" nillable="true" type="q26:Pai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaRegiones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaRegionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaRegionesResult" nillable="true" type="q27:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetRegionResult" nillable="true" type="q28:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateRegionResult" nillable="true" type="q29:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditRegionResult" nillable="true" type="q30:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteRegionResult" nillable="true" type="q31:Region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCiudades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCiudadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaCiudadesResult" nillable="true" type="q32:ArrayOfCiudad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetCiudadResult" nillable="true" type="q33:Ciudad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateCiudadResult" nillable="true" type="q34:Ciudad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditCiudadResult" nillable="true" type="q35:Ciudad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCiudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteCiudadResult" nillable="true" type="q36:Ciudad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoAlmacen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaTipoAlmacenResult" nillable="true" type="q37:ArrayOfTipoAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetTipoAlmacenResult" nillable="true" type="q38:TipoAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateTipoAlmacenResult" nillable="true" type="q39:TipoAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditTipoAlmacenResult" nillable="true" type="q40:TipoAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteTipoAlmacenResult" nillable="true" type="q41:TipoAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaTipoProductosResult" nillable="true" type="q42:ArrayOfTipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetTipoProductoResult" nillable="true" type="q43:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateTipoProductoResult" nillable="true" type="q44:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditTipoProductoResult" nillable="true" type="q45:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteTipoProductoResult" nillable="true" type="q46:TipoProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoEnvios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoEnviosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaTipoEnviosResult" nillable="true" type="q47:ArrayOfTipoEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetTipoEnvioResult" nillable="true" type="q48:TipoEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateTipoEnvioResult" nillable="true" type="q49:TipoEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditTipoEnvioResult" nillable="true" type="q50:TipoEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteTipoEnvioResult" nillable="true" type="q51:TipoEnvio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoDocs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoDocsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaTipoDocsResult" nillable="true" type="q52:ArrayOfTipoDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetTipoDocResult" nillable="true" type="q53:TipoDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateTipoDocResult" nillable="true" type="q54:TipoDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditTipoDocResult" nillable="true" type="q55:TipoDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteTipoDocResult" nillable="true" type="q56:TipoDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoVehiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoVehiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaTipoVehiculosResult" nillable="true" type="q57:ArrayOfTipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetTipoVehiculoResult" nillable="true" type="q58:TipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTipoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateTipoVehiculoResult" nillable="true" type="q59:TipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTipoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditTipoVehiculoResult" nillable="true" type="q60:TipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteTipoVehiculoResult" nillable="true" type="q61:TipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaEstadosResult" nillable="true" type="q62:ArrayOfEstado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetEstadoResult" nillable="true" type="q63:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateEstadoResult" nillable="true" type="q64:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditEstadoResult" nillable="true" type="q65:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteEstadoResult" nillable="true" type="q66:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsecutivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoEnvioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsecutivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetConsecutivoResult" nillable="true" type="q67:ConsecutivoGuia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsecutivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConsecutivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateConsecutivoResult" nillable="true" type="q68:ConsecutivoGuia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConsecutivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConsecutivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditConsecutivoResult" nillable="true" type="q69:ConsecutivoGuia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaAlmacenes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaAlmacenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaAlmacenesResult" nillable="true" type="q70:ArrayOfAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetAlmacenResult" nillable="true" type="q71:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateAlmacenResult" nillable="true" type="q72:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditAlmacenResult" nillable="true" type="q73:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteAlmacenResult" nillable="true" type="q74:Almacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaProductosResult" nillable="true" type="q75:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetProductoResult" nillable="true" type="q76:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateProductoResult" nillable="true" type="q77:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditProductoResult" nillable="true" type="q78:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="DeleteProductoResult" nillable="true" type="q79:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDescuentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDescuentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="ListaDescuentosResult" nillable="true" type="q80:ArrayOfDescuento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDescuento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDescuentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="GetDescuentoResult" nillable="true" type="q81:Descuento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDescuento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDescuentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="CreateDescuentoResult" nillable="true" type="q82:Descuento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDescuento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDescuentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/TalycapGlobalData" minOccurs="0" name="EditDescuentoResult" nillable="true" type="q83:Descuento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>